* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color:#e2e3d5; 
  height: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #32312b5e;
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 700px;
  height: 500px;
  text-align: center;
  justify-content: center;
  font-family: "Miramar";
  font-size: larger;
  color: #32312b;
  font-size: 40px;
  background-color: #e2e3d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


html {
  height: 100%;
}

body {
  background-color:#e2e3d5; 
  height: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Menu Acerca de nosotros */
.navbar1 {
  padding: 4px;
  background-color: #32312b;
  color: #e2e3d5;
  font-family: 'optididotcbsspecial';
  z-index: 2;
  position: sticky;
  top: 0;
  display: flex; /* Add display flex to align items in a row */
  justify-content: space-between; /* Add space between the two texts */
  padding-left: 10px;
  padding-right: 10px;
}

.text_navbar1,
.text_navbar2 {
  height: 30px; /* Adjust the height as needed */
  background-color: #32312b;
  color: #e2e3d5;
  font-family: 'optididotcbsspecial';
  font-size: 16px;
  display: flex; /* Add display flex to vertically center text */
  align-items: center; /* Vertically center text */
  flex-grow: 1; /* Allow each text to grow and occupy remaining space */
  cursor: pointer;
}

.text_navbar1 {
  justify-content: flex-end; /* Align text to the right */
}

.text_navbar2 {
  justify-content: flex-start; /* Align text to the left */
}

.text_navbar1:hover {
  text-decoration: underline;
}

.text_navbar2:hover {
  text-decoration: underline;
}

/* Color de navbar de páginas */
.navbar2 {
  background-color: #32312b;
  color: #e2e3d5;
  font-family: 'optididotcbsspecial';
}

.menum1, .menum2, .menum3, .menum4 {
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 40px;
  color: #e2e3d5;
  font-family: 'optididotcbsspecial';
  width: 100vw;
  padding: 2%;
}

.menum1 {
  background-color: #a7215c;
}

.menum2 {
  background-color: #005f9f;
}

.menum3 {
  background-color: #024f47;
}

.menum4 {
  background-color: #cf6437;
}

.menum1:hover,
.menum2:hover,
.menum3:hover,
.menum4:hover {
  text-decoration: underline;
}

/* Navbar */
.navbarm1, .text_navbarm1, .navbarm2 {
  background-color: #32312b;
  color: #e2e3d5;
  font-family: 'optididotcbsspecial';
}

.navbarm1 {
  padding: 8px;
  text-align: center;
  z-index: 2;
  position: relative;
  display: none;
}

.navbarm1 button {
  text-decoration: none;
}

.navbarm1 button:hover {
  text-decoration: underline;
}

.text_navbarm1 {
  align-content: right;
}

.text_navbarm1:hover {
  text-decoration: underline;
}

.navbarm2 {
  background-color: #32312b;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .navbarm1 {
    display: block;
  }
}

.menum {
  background-color: #e2e3d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  transform: translateY(-100%);
  width: 100vw;
  left: 0;
  display: none;
  margin-top: 30px;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .menum {
    display: block;
  }
}

.menum.open {
  height: auto;
  transform: translateY(0);
  animation: slideDown 0.3s ease-in-out; /* Add slideDown animation */
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Button */
button#toggleBtn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

.toggleBtn {
  justify-content: center;
  align-self: center;
}

.toggleBtn:hover {
  text-decoration: underline;
}

/* Título de página*/
.main{

  display: flex;
  font-family: 'optididotcbsspecial';
  background-color: #e2e3d5;
  color: #32312b;
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow:wrap;
  flex-grow: initial;
  justify-content:left ;
  align-content: left;
  color: #e2e3d5;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .main {
    justify-content: center;
    align-content: center;
  }

  
}

.fondo {
  background-image: url('./fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Set the height to occupy the full viewport height */
}


.imagenserie {
  /* Adjust width and height as needed */
  width: auto;
  height: 800px;
  margin-top: 5%;
  margin-left: 10%;
}

.textoserie {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  /* Adjust other styles as needed */
  font-size: 30px;
  text-align: center;
  font-family: 'miramarregular';
  color: #e2e3d5;
}

@media screen and (max-width: 768px) {
  .fondo {
    text-align: center;
  }

  .imagenserie {
    position: relative;
    width: 100%;
    height: auto;
  }

  .textoserie {
    position: static;
    transform: none;
  }
}

/* Texto de Main*/
.maintext{
  font-family: 'optididotcbsspecial';
  font-size:80px;
  text-align:left;
  color: #32312b;
  margin-left: 40px;
}


/*  Estilo de los links */
a:hover{
  text-decoration: none;
  color: #e2e3d5;

}

/*  Estilo del menu de las páginas alternas */


  .menudesecciones {
    display: flex;
    height: 60px;
    z-index: 1;
    position: sticky;
    top: 0;

  }

  .navbar-button {
    flex-grow: 1;
    height: 100%;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: transparent; /* Set initial font color as transparent */
    cursor: pointer;
    transform: translateY(-100%);
    margin-top: 0.5%;
    position: relative;
  }

  .navbar-button:nth-child(1) {
    background-color: #a7215c;
    font-family: 'optididotcbsspecial';
    position: relative;
  }

  .navbar-button:nth-child(2) {
    background-color: #005f9f;
    font-family: 'optididotcbsspecial';
    position: relative;
  }

  .navbar-button:nth-child(3) {
    background-color: #024f47;
    font-family: 'optididotcbsspecial';
    position: relative;
  }

  .navbar-button:nth-child(4) {
    background-color: #cf6437;
    font-family: 'optididotcbsspecial';
    position: relative;
  }

  .navbar-button:hover {
    transform: translateY(-18%);
    color: #e2e3d5; /* Set the desired font color on hover */
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
  }

.rectangle {
  font-family: 'miramarregular';
  color: #e2e3d5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  padding: 40px;
  width: 100%;
}

.rectangle2 {
  font-family: 'miramarregular';
  color: #e2e3d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  padding: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.rectangle_text{
  font-family: 'miramarregular';
  color:#e2e3d5;
  font-size: 2vw;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rectangle_text:hover {
  text-decoration: underline;
}



.rectangle_text2{
  font-family: 'miramarregular';
  color:#e2e3d5;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5vw;
}


.rectangle,
.rectangle2 {
  flex-grow: 1;
}



@media screen and (max-width: 1000px) {
  .rectangle, .rectangle2 {   
    margin: 0;
  }

  .rectangle2 {

    margin-bottom: 20px;
    position: initial;
    top: initial;
    bottom: initial;
    right: initial;
    left: initial;
  }
  

  .rectangle_text, .rectangle_text2 {   

    align-content: center;
    justify-content: center;
    text-align: center;
  }

  .rectangle_text{
  font-size: 5vw;

  }

  .rectangle_text2{
    font-size: 3vw;
  
    }
}

.btn{
  font-family: 'optididotcbsspecial' ;
  font-weight: bold;
  color: #e2e3d5;
  margin-left: 10%;
  box-shadow: 0px 3px 3px #00000069;

}

.sharp-corner{
  border-radius: 0;
}

/* animacion de float */
.floating-card {
  transition: transform 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

.floating-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}



/* Footer */
.footer {
  font-family: 'miramarregularl';
  padding: 8px;
  color: #e2e3d5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #32312b;
  bottom: 0;
  left: 0;
  width: 100%;
}



.floating-card {
  animation: floatAnimation 3s infinite;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
    .menudesecciones, .navbar1 {
      display: none;
    }
    .maintext{
      margin: 0px;
    }
  }


@font-face {
  font-family: 'optididotcbsspecial';
  src: url('optididotcbs-special-webfont.woff2') format('woff2'),
       url('optididotcbs-special-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;

}

@font-face {
  font-family: 'MIRAMAR';
  src: url('Miramar_Regular.ttf') format('TTF'),;
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'miramarregularl';
  src: url('miramar_regular-webfont.woff2') format('woff2'),
       url('miramar_regular-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;

}

